*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_section{
  padding:0 25px;
}

.main_section_inr{
  padding:30px;
  background-color:#fff;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}

.item_box{
  padding:10px;
  border-radius:5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  margin-bottom:20px;
}

.search_box {
  margin-bottom:25px;
}

.search_box .search_icon{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0 , -50%);
  font-size:14px;
}

.search_box input.form-control:hover{
  border-color:#40a9ff;
}

.sec_title{
  margin-bottom:20px;
}

.sec_title h2{
  font-size:20px;
  color:#333c4e;
  font-weight:500;
  margin-bottom:0;
}

.sec_title h3{
  font-size:20px;
  color:#333c4e;
  font-weight:700;
  margin-bottom:0;
}

.sec_title p{
  font-size:16px;
  margin:0;
}

.item_img{
  position: relative;
}

.item_img img{
    width: 202px;
    height: 202px;
}

.item_img:hover .edit_item_bt{
  opacity: 1;
  visibility: visible;
}

.edit_item_bt{
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;*/
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50% , -50%); */
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit_item{
  background-color: #0099ac;
  border-radius:50px;
  color:#fff;
  font-size:16px;
  font-weight:600;
  margin-bottom:10px;
}
.edit_category{
  background-color: #ff9300;
  border-radius:50px;
  color:#fff;
  font-size:16px;
  font-weight:600;
}
.edit_item:hover{
  color:#fff;
  box-shadow: rgb(0 188 212 / 20%) 0px 5px 10px 2px;
  background-color: #0099ac;
  border: none;
}
.edit_category:hover{
  color:#fff;
  box-shadow:rgb(255 147 0 / 20%) 0px 5px 10px 2px;
  background-color: #ff9300;
  border: none;
}
.delet_bt{
  position: absolute;
  top:15px;
  right: 15px;
  width:40px;
  height:40px;
  background-color:#fff;
  border-radius:50%;
  color:#ff0000;
  display: flex;
  align-items:center;
  justify-content:center;
}
.delet_bt:hover{
  color: #ff0000;
}

/*switch start*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider .uncheck_icon{
  display:none;
}

input[type="checkbox"]:not(:checked) + .slider .check_icon{
  display:none;

}


input:checked + .slider .check_icon{
  display:block;
  position: absolute;
  top:50%;
  left:10px;
  transform: translate(0 , -50%);
  color:#fff;
}

.slider .uncheck_icon{
  display:block;
  position: absolute;
  top:50%;
  right:10px;
  transform: translate(0 , -50%);
  color:#fff;
}

/*switch end*/

.item_info{
  padding:15px 0;
  min-height:85px;
}

.item_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_name h3{
  font-size:16px;
  color:#000;
  font-weight:500;
  margin:0;
}

.item_info h2{
  font-size:20px;
  font-weight:600;
  margin:0;
  color:#000;
}

.add_category{
    /* width: 265px; */
    height: 201px;
    background-color: #d2d6dc;
}

.add_category_bt {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.add_category_bt i{
  font-size:50px;
  color:#00bcd4;
}

.modal-dialog{
  max-width:700px;
}


.drop-zone {
  max-width: 100%;
  height: 150px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #777;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}

.drop-zone:hover{
  background-color:#f6f6f6;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

/* Design page */

.logo_sec{
    background-color:#fff;
    padding: 20px;
}

.add_logo_sec{
  border: 1px solid #f1f3f7;
  border-radius:5px;
}
.add_logo_sec_header{
  padding:20px;
  border-bottom:1px solid #f1f3f7;
}
.add_logo_sec_header h2{
  font-size:20px;
  font-weight:400;
  color:rgba(0, 0, 0, 0.85);
  margin:0;
}
.add_logo_sec_body{
  padding:20px;
}
.add_logo_sec_body_inr{
  min-height:350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_category:hover .icon_none{
  display: none;
}


/* theme preview */

.theme_name{
  background-color:#f1f3f7;
  padding:10px;
  margin-bottom:20px;
}

.theme_name h2{
  font-size:20px;
  color:rgba(0, 0, 0, 0.65);
  margin:0;
}

.theme_change_sec_inr .accordion-item{
  margin-bottom:20px;
  border:1px solid rgba(0,0,0,.125) !important;
}

.theme_change_sec_inr .accordion-item .accordion-button{
  font-size:25px;
  color:#000;
  background-color:#f1f3f7;
}

.main_theme_color input[type=color]{
  width: 50px;
  height: 38px;
}

.accordion-button:not(.collapsed){
  background-color:#f1f3f7;
}

.accordion-button:focus{
  box-shadow: none;
  border:none;
}


/* language page */

.lang_main,.qr_main{
    padding:20px;
    background-color:#fff;
}

.lang_sidebar{
    padding:10px;
    border-right:1px solid #ccc;
}

.lang_menu_ul{
    padding:0;
    margin:0;
    list-style:none;
}

.lang_menu_ul li{
    padding:5px 0;
}

.lang_menu_ul li a{
    font-size:16px;
    color:rgba(0, 0, 0, 0.65);
    display:flex;
    align-items:center;
}

.submenu{
    padding-left:40px;
}

.lang_sidebar .lang_menu_ul a:hover,.lang_sidebar .lang_menu_ul a:focus{
    color:rgba(0, 0, 0, 0.65);
}


.submenu li,.submenu li a{
    padding:0;
}

/* .lang_right_side{
    padding:10px;
} */

.lang_title h2{
    font-size:25px;
    color:rgba(0, 0, 0, 0.85);
}

.lang_right_side .lang_title{
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}

.lang_title p{
    font-size:15px;
    color:rgba(0, 0, 0, 0.65);
}

.select_lang{
    padding:20px 0;
}

.select_lang_inr{
    padding:5px;
    border:1px solid #0099ac;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-radius:10px;
}

.select_lang_inr .switch{
    width:100px;
}
.select_lang_inr .switch .slider:before{
    left: 5px;
}

.select_lang_inr input:checked + .slider:before{
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
}

.select_lang_inr input:checked + .slider .check_icon,.select_lang_inr .slider .uncheck_icon{
    font-size:12px;
}

.select_lang_inr label.form-check-label{
    font-size:13px;
}

.cate_lang_box .card-header,.cate_lang_box .card-body{
    padding:10px;
}

.cate_lang_box .card-header h3{
    font-size:20px;
    margin:0;
}

.item_lang_box .card-header,.item_lang_box .card-body{
    padding:10px;
}

.item_lang_box .card-header h3{
    font-size:20px;
    margin:0;
}

/* qr code */

.qr_main .sec_title{
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}

.qr_main .sec_title h2{
    font-size:25px;
    color:#000;
    margin:0;
}

.qr_btn_group .qr_btn{
    padding:7px 30px;
    font-size:16px;
}

.qr_sidebar .nav-pills{
    background-color:rgb(199 199 199 / 25%);
}

.qr_sidebar .nav-pills .nav-link{
    color:#495057;
}

.qr_sidebar .nav-pills .nav-link.active{
    color:#fff;
}

.qr_content .remove_bt{
    background-color:#FFEBF1;
}


/* General Info */

.general_info_main{
    background-color:#fff;
    padding:20px;
}

.icon-input{
    padding-left:40px;
}

.input-icon{
    position: absolute;
    top:50%;
    left:10px;
    transform: translate(0 , -50%);
    color:#0099ac;
}

.social_media_title h2{
    font-size:20px;
    color:#333c4e;
    font-weight:700;
}

.social_media_title p{
    font-size:16px;
    color:#333c4e;
}


/* statistics */
.statistics_main{
    background-color:#fff;
    padding:20px;
}
.chart #chart .apexcharts-toolbar{
    display:none;
}
#chart {
    height: 450px !important;
}

.most_viewed_sec{
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
}

.most_viewed_sec h4{
    font-size:15px;
    margin-bottom:10px;
    color:#000;
    font-weight:600;
    text-align:center;
}

.most_viewed_sec .viewed_ul{
    padding:0;
    margin:0;
    list-style:none;
}

.most_viewed_sec .viewed_ul li{
    display:flex;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}

.most_viewed_sec .viewed_ul li p{
    font-size:16px;
    color:rgba(0, 0, 0, 0.75);
    margin:0;
    padding-left:5px;
}


/* contact */
.contact_main{
    background-color:#fff;
    padding:20px;
}

/* form design */

.form-group label,.form-label{
    color:#203047;
    font-weight:600;
}

.main .form-control{
    border-color:#0099ac;
}
